@using MyHealthBlog.Domain
@model Article

<div class="col-sm-4 col-lg-4 col-md-4">
    <h4>@Model.HeadLine</h4>
    <div class="thumbnail">
        <div>
            <p class="button">
                <a class="btn btn-primary" asp-controller="Article" asp-action="Delete1"
                   asp-route-id="@Model.Id">Delete</a>
            </p>
        </div>
    </div>
</div>
