@using MyHealthBlog.Domain
@model FoodObject

<div class="col-sm-4 col-lg-4 col-md-4">
    <h4>@Model.Name</h4>
    <div class="thumbnail">
        <img src="@Model.ImageUrl" alt="">
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="Food" asp-action="Delete1"
                   asp-route-id="@Model.Id">Delete</a>
            </p>
            
            <p class="button" >
                <a class="btn btn-primary" asp-controller="Food" asp-action="Update"
                   asp-route-id="@Model.Id">Update</a>
            </p>
            
        </div>
    </div>
</div>
