@using MyHealthBlog.ViewModels
@model FoodList

<h2>Delete</h2>

<div class="row">
    @foreach (var category in Model.Categorys)
    {
        @Html.Partial("CategoryThumbnail", category)
    }
</div>