@using MyHealthBlog.Domain
@model FoodCategory
    <head>
    </head>
    <body>
        <div>
            <img alt="@Model.FoodType" src=@Model.ImgUrl height="399" width="600">
            <h3>@Model.FoodType</h3>
            <br />
            <br />
        </div>
    </body>
    <footer>
    </footer>