@using MyHealthBlog.Domain
@model FoodCategory
<h2>Get object details</h2>
<br />
<form asp-controller="Category" asp-action="Details">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Name :</label>
            <div class="col-md-10">
                <select asp-for="FoodType" class="form-control">
                    <option value="Berries">Berries</option>
                    <option value="Vegetables">Vegetables</option>
                    <option value="Fruits">Fruits</option>
                    <option value="Grains">Grains</option>
                    <option value="Meats">Meats</option>
                    <option value="Fish">Fish</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

