@using MyHealthBlog.Domain
@model Article
<head>
</head>
<body>
    <div class="thumbnail">
        <h3 style="text-align:center">@Model.HeadLine</h3>
        <p style="text-align :center">
            @Model.Content
        </p>

        <br />
        <br />
    </div>
</body>
<footer>
    <a href="@Model.NotesAndLinks" target="_blank">@Model.NotesAndLinks</a>
</footer>